.root {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
}

.input {
   background-color: rgba(0, 0, 0, 0);
   border: 1px solid #b1b1b1;
   border-radius: 5px;
   padding: 0 30px 0 30px;
   color: #b1b1b1;
   height: 25px;
   outline: none;
   width: 100%;
}

input:disabled {
   width: 0px;
   border: none;
}

.input::placeholder {
   font-family: 'Inter', sans-serif;
}

.icon {
   color: #b1b1b1;
   position: absolute;
   left: 3px;
}

.iconClose {
   color: #b1b1b1;
   position: absolute;
   right: 3px;
   cursor: pointer; 
}

.iconClose:hover {
   color: #ffffff;
}

.input:focus {
   border: 1px solid #ffffff;
}