.root {
   width: calc(100% - 252px);
   height: 100%;
   position: relative; 
}

.textarea {
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   padding: 50px;
   background-color: #1e1e1e;
   color: #ffffff;
   overflow: auto;
   outline: none;
   color: #b1b1b1;
}

.textareaDisabledIcon {
   position: absolute;
   top: 35%;
   left: 40%;
   width: 200px;
}

.textarea::-webkit-scrollbar {
   background-color: rgba(0, 0, 0, 0);
   width: 5px;
}

.textarea::-webkit-scrollbar-thumb {
   background-color: #b1b1b1;
   border-radius: 10px;
}

.date {
   position: absolute;
   margin: 0;
   color: #b1b1b1;
   font-size: 12px;
   top: 20px;
   left: 40%;
}

@media screen and (max-width: 1000px) {

   .textareaDisabledIcon {
      left: 35%;
   }
 
}

@media screen and (max-width: 500px) {

   .textareaDisabledIcon {
      left: 25%;
   }

   .date {
      left: 33%;
   }
 
}