.App {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 95vh;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
}

.header {
  height: 9%;
}

.content {
  display: flex;
  height: 91%;
}

.textareaBig {
  width: 100%;
}

.active {
  display: flex;
}

.noActive {
  display: none;
}

@media screen and (max-width: 1000px) {

  .App {
    width: 100vw;
    height: 100vh;
  }

}